/* Slider stlyes */
#slider1 {
    background-image: url(../images/slider1.jpg);
    background-size: cover;
  }

#slider2 {
    background-image: url(../images/slider2.jpg);
    background-size: cover;
  }

#slider3 {
    background-image: url(../images/slider3.jpg);
    background-size: cover;
  }